<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- css style sheet -->
    <link rel="stylesheet" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <!-- page2 -->
    <h1 align="center">Browse medicines & health products</h1>
    <div class="page2nav">
      <div class="baby">👶🏻baby care</div>
      <div class="family">👨‍👩‍👧‍👦family care</div>
      <div class="alternate">🏥Alternate</div>
      <div class="fitness">🏋🏻fitness</div>
      <div class="women">🤷🏻women's care</div>
      <div class="devices">🩺devices</div>
    </div>

    <div class="content baby">
      <div class="babyproducts">
        <div class="imgup">
          <div class="img-baby"><img src="assets\babycare.jpeg" alt="" /></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
        <div class="imgdown">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
      </div>
    </div>
    <div class="content family">
      <div class="familycare">
        <div class="imgup">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
        <div class="imgdown">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
      </div>
    </div>
    <div class="content alternate">
      <div class="alternateproduct">
        <div class="imgup">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
        <div class="imgdown">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
      </div>
    </div>
    <div class="content fitness">
      <div class="fitnessproducts">
        <div class="imgup">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
        <div class="imgdown">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
      </div>
    </div>
    <div class="content women">
      <div class="womancareproduct">
        <div class="imgup">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
        <div class="imgdown">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
      </div>
    </div>
    <div class="content devices">
      <div class="devicesproduct">
        <div class="imgup">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
        <div class="imgdown">
          <div class="img-baby"></div>
          <div class="img-baby"></div>
          <div class="img-baby"></div>
        </div>
      </div>
    </div>
    <!-- script -->
    <script src="sript.js"></script>
  </body>
  <body></body>
</html>
