<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPCHAR</title>
    <link rel="stylesheet" href="/public/CSS/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="upchar_page_1">
      <div class="nav_bar">
        <div class="nav_logo">
          <div class="logo_img">
            <img src="/public/Assets/logo-no-background.png" />
          </div>
          <div class="logo_text">Up<span>char</span></div>
        </div>
        <div class="nav_search">
          <div class="search_logo"></div>
          <div class="nav_location"></div>
        </div>

        <div class="nav_services">
          <div class="medicines"></div>
          <div class="delivery"></div>
          <div class="ourservices"></div>
          <div class="contact"></div>
        </div>

        <div class="cart">
          <img src="" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
